<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawing</key>
	<array>
		<dict>
			<key>type</key>
			<string>horizontal</string>
			<key>startColPos</key>
			<integer>1</integer>
			<key>startRowPos</key>
			<integer>1</integer>
			<key>length</key>
			<integer>128</integer>
			<key>tile</key>
			<string>girder</string>
			<key>leftTile</key>
			<string>girder</string>
			<key>rightTile</key>
			<string>girder</string>
			<key>fillUnder</key>
			<false/>
			<key>fillUnderTile</key>
			<string>greyblock</string>
			<key>fillUnderToPos</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>horizontal</string>
			<key>startColPos</key>
			<integer>5</integer>
			<key>startRowPos</key>
			<integer>2</integer>
			<key>length</key>
			<integer>10</integer>
			<key>tile</key>
			<string>girder</string>
			<key>leftTile</key>
			<string>girder</string>
			<key>rightTile</key>
			<string>girder</string>
			<key>fillUnder</key>
			<false/>
			<key>fillUnderTile</key>
			<string>greyblock</string>
			<key>fillUnderToPos</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>horizontal</string>
			<key>startColPos</key>
			<integer>6</integer>
			<key>startRowPos</key>
			<integer>3</integer>
			<key>length</key>
			<integer>8</integer>
			<key>tile</key>
			<string>girder</string>
			<key>leftTile</key>
			<string>girder</string>
			<key>rightTile</key>
			<string>girder</string>
			<key>fillUnder</key>
			<false/>
			<key>fillUnderTile</key>
			<string>greyblock</string>
			<key>fillUnderToPos</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>horizontal</string>
			<key>startColPos</key>
			<integer>20</integer>
			<key>startRowPos</key>
			<integer>10</integer>
			<key>length</key>
			<integer>1</integer>
			<key>tile</key>
			<string>girder</string>
			<key>leftTile</key>
			<string>girder</string>
			<key>rightTile</key>
			<string>girder</string>
			<key>fillUnder</key>
			<false/>
			<key>fillUnderTile</key>
			<string>greyblock</string>
			<key>fillUnderToPos</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>tileWidth</key>
	<integer>64</integer>
	<key>tileHeight</key>
	<integer>64</integer>
	<key>tiles</key>
	<dict>
		<key>girder</key>
		<string>girder-64</string>
		<key>greyblock</key>
		<string>greyblock-64</string>
	</dict>
</dict>
</plist>
